.wrapper {
	margin-inline: auto;
	width: min(90%, 60rem);
}

.flex {
	display: flex;
}

.split {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media (min-width: 500px) {
	.split {
		flex-direction: row;
	}
}
